# if defined(UNDER_CE)
#  include <winbase.h>
# else
#  include <winver.h>
# endif

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 0,0,0,0
	PRODUCTVERSION 0,0,0,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904b0"
			BEGIN
				VALUE "CompanyName", "Shanghai University->S3 Graphics->Deepin | wbsecg1@gmail.com\0"
				VALUE "FileDescription", "QtAV QML module. QtAV Multimedia playback framework. http://www.qtav.org\0"
				VALUE "FileVersion", "0.0.0.0\0"
				VALUE "LegalCopyright", "Copyright (C) 2012-2015 WangBin, wbsecg1@gmail.com\0"
				VALUE "OriginalFilename", "QmlAVd.dll\0"
				VALUE "ProductName", "QtAV QML\0"
				VALUE "ProductVersion", "0.0.0.0\0"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x0409, 1200
		END
	END
/* End of Version info */

